<section class="down">
    <div class="contain">
        <div class="product_card">
            <img src="" alt="yams">
            <h3>Product 1</h3>
            <p class="price">NGN2000</p>
            <a href="#">Buy Now</a>
        </div>
        
           <div class="product_card">
            <img src="" alt="yams">
            <h3>Product 1</h3>
            <p class="price">NGN2000</p>
            <a href="#">Buy Now</a>
        </div>

           <div class="product_card">
            <img src="" alt="yams">
            <h3>Product 1</h3>
            <p class="price">NGN2000</p>
            <a href="#">Buy Now</a>
        </div>

           <div class="product_card">
            <img src="" alt="yams">
            <h3>Product 1</h3>
            <p class="price">NGN2000</p>
            <a href="#">Buy Now</a>
        </div>

           <div class="product_card">
            <img src="" alt="yams">
            <h3>Product 1</h3>
            <p class="price">NGN2000</p>
            <a href="#">Buy Now</a>
        </div>
    </div>
</section>