<section class="footer">
    <div class="details">
    <div class="f-logo"> AGRO-LINK VISION</div>
    <br>
   <p>Here is a short vision statement for a teleagric (teleagricultural) site:

"Our teleagric platform connects farmers, agribusinesses, and consumers to revolutionize the future of agriculture. By leveraging cutting-edge digital technologies, we empower farmers with real-time data, expert insights, and streamlined operations to enhance productivity and sustainability. Our mission is to transform agricultural practices, facilitate equitable food distribution, and cultivate a more resilient and thriving global food system."

This vision statement highlights the key aspects of a teleagric platform:

Connecting key stakeholders (farmers, businesses, consumers) in the agricultural ecosystem.
Leveraging digital technologies to empower farmers and optimize agricultural practices.
Enhancing productivity, sustainability, and resilience in the global food system.
Facilitating more equitable food distribution and access.</p> 
</div>

<div class="contacts">
    <div class="f-logo"> CONTACT INFORMATION</div>
<br>

<p>
    Customer Service Contact: <br>
    08169625557, 08096665256

    <br><br>
    Email: <br>
    josephakpan316@gmail.com
    <br><br>
<Location:br></Location:br>
    Jahi District
</p>



</div>

<div class="links">
      <div class="f-logo"> SOCIAL</div>
    <img src="/pic/twitter choice.png" alt="">
    <img src="/pic/whatsapp.png" alt="">
    
</div>


</section>
<div class="copyright">
    <p>AgroLink | All Right Reserved</p>
</div>