<section class="header">
    <div class="logo">
        AGRO-LINK
    </div>
    

    <div class="menu">
        <a href="/">Home</a>
        <a href="/market">Products</a>
        <a href="/tips">Orders</a>
        <a href="/tips">Payments</a>
        <a href="/tips">Delivery</a>
        <a href="/tips">Notification</a>
        <a href="/tips">Feedback</a>
        <a href="/tips">About Us</a><a href="/tips">Admin</a>

         <a href="/login">Login</a>
         <a href="/signup"><Signup>Sign up</a>
    </div>

   

</section>