<section class="header">
    <div class="logo">
        AGRO-LINK
    </div>

    <div class="menu">
        <a href="">Home</a>
        <a href="">Market Place</a>
        <a href="">Farming Tip</a>
         <a href="">Login</a>
         <a href=""><Sign-up>Sign up</a>
    </div>

   

</section>