<section>
    <div class="form">
        <form action="userpage.handlebars" method="post">
            <input type="email" name="email" id="email">
            
        </form>
    </div>
    <a href="signup">Sign Up</a>
</section>