<section class="slide">



    <p class="slide-des">Welcome <br>
        Your Agro Market Place, for Agricultural Products
    </p>
    

    <div class="category">
        <div>Grain</div>
        <div>Livestock and Animals</div>
        <div>Fruits and Vegetable</div>
    </div>
</section>