<section class="slide">



    <p class="slide-des">Welcome <br>
        Your Agro Market Place, for Agricultural Products
    </p>

    
</section>


     <div class="category">
        <div class="grain"></div>
        <div class="tuber"></div>
        <div class="livestock"></div>
        <div class="fruits"></div>
    </div>
