

<section class="personal-data">

 <div class="inner">
         {{!-- ctegory --}}
    <div class="cat">
        <h2>Category</h2>
        <a href="">P</a>

        

    </div>
    
    {{!-- personal data --}}
   
    <div class="data">
         <div class="profile-pics">
            profile pics</div><br>
            
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <td>Jay Akpan</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>jay @gmail.co</td>
                    </tr>
                <tr>
                     <th>Location</th>
                     <td>Sulea</td>
                
                </tr>
                 <tr>
                    <th>Address</th>
                    <td></td>
                    </tr>
                <tr>
                     <th>Contact</th>
                     <td></td>
                
                </tr>
                 <tr>
                    <th>Market Address</th>
                    <td></td>
                    </tr>
                <tr>
                     <th>Goods</th>
                     <td>Sulea</td>
                
                </tr>
            </thead>
            <tbody>
              
            </tbody>

          
        </table>
    </div>

    </div>
      

 
</section>

